{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>QR Code Generator</title>
        <link rel="stylesheet" href="{% static '/style.css' %}" />
    </head>
    <body>
        <div class="container">
            <h1>QR Code Generator</h1>
            <form id="signup-form" method="POST">
                {% csrf_token %}
                <input
                    type="text"
                    id="text-input"
                    name="qr_text"
                    placeholder="Enter text or URL"
                />
                <button type="submit" id="generate-btn">
                    Generate QR Code
                </button>
            </form>
            <div id="qrcode">
                {% if qr_text != "" %}
                <img
                    src="{% static 'QR.png' %}"
                    alt="'{{qr_text}}' text QR Code"
                    width="75%"
                />
                {% else %} Generated QR Code Show here {% endif %}
            </div>
        </div>
    </body>
</html>
